/* base styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-color: #ECEEF1;
}

/* login section */
.login-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 3rem;
}

.login-box__description {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.login-box__description p {
  color: #505050;
}

.login-box__description a {
  text-decoration: none;
  color: #0077C5;
  font-weight: 400;
}

.login-box button {
  background-color: #0077C5;
  font-weight: 400;
  color:white;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.login-box i {
  margin-right: 1rem;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 0;
  margin: 2rem 0;
}

.logo img {
  width: 11.8rem;
  height: 3.5rem;
}

.header__list {
  list-style: none;
  display: flex;
}

.header__list img {
  width: 2.3rem;
  margin-left: 1rem;
}

.header__list a {
  text-decoration: none;
  margin-right: 1rem;
  color: #505050;
  font-size: 2rem;
  display: flex;
  font-weight: 200;
}

.header__list a > * {
  align-self: center;
}